<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806333596350-uj55kc7mer29jke1kq2imkb8t2losf5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806333596350-uj55kc7mer29jke1kq2imkb8t2losf5g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>806333596350-o4jmv4q6jcs38ottlnstmpcnjc7pn7b7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk7T_T6Uo5jFixP5SDi12yp-NspZ_Kzsk</string>
	<key>GCM_SENDER_ID</key>
	<string>806333596350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mlmf.customer</string>
	<key>PROJECT_ID</key>
	<string>mlmf-8c18d</string>
	<key>STORAGE_BUCKET</key>
	<string>mlmf-8c18d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806333596350:ios:9fc9b5a66b10c8149a54ef</string>
</dict>
</plist>